<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Spring eCommerce</title>


  <!--Para que reconozca el css-->
  <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{css/heroic-features.css}" rel="stylesheet">

</head>

<body>
  <!--Incluyendo header template-->
  <div th:include="administrador/template_admin.html::header"></div>
  <!-- Page Content -->
  <div class="container">


    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
      Spring eCommerce <small>Categorias </small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a th:href="@{/administrador}">Home</a></li>
      <li class="breadcrumb-item active">Ver categorias</li>
    </ol>

    <a class="btn btn-primary" th:href="@{/categoria/create}"> Crear Categoria</a>
    <h2>Categorias</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id Categoria</th>
          <th scope="col">Nombre</th>
          <th scope="col">Estado</th>
          <th scope="col">Acción</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="categoria:${categorias}">           
          <td th:text="${categoria.idCategoria}"></td>
          <td th:text="${categoria.nombre}"></td>
          <td th:text="${categoria.estado}"></td>
          <td>
            <button class="btn btn-toggle" th:data-categoriaId="${categoria.idCategoria}" th:data-categoriaEstado="${categoria.estado}">
                Cambiar Estado
            </button>
          </td>
          <td><a class="btn btn-warning" th:href="@{categoria/edit/{id} (id=${categoria.idCategoria})}">Editar</a> </td>
          <td><a class="btn btn-danger" th:href="@{categoria/delete/{id} (id=${categoria.idCategoria})}">Eliminar</a> </td>
          
        </tr>
      </tbody>
    </table>

  </div>
  <!-- /.container -->

  <!--Incluyendo template de footer-->
  <div th:include="administrador/template_admin.html::footer"></div>

  <!-- Bootstrap core JavaScript -->
<script th:src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

  <script>
    $(document).ready(function() {//Cuando cargue la pagina
    $('.btn-toggle').click(function() {//se activa con la clase -btn-toggle 
        var categoriaId = $(this).data('categoriaId');// Obtener el valor del atributo data-categoriaId del elemento en el que se hizo clic (el botón de toggle)
        var nuevoEstado = ($(this).data('categoriaEstado') == 1) ? 0 : 1;//Cambiar estado actuala del toggle si es 1 se cambia a 0 (y viceversa)

        $.ajax({
            type: 'PUT',
            url: '/categoria/updateEstado/' + categoriaId + '/' + nuevoEstado,
            success: function(response) {
                console.log('Estado actualizado exitosamente');
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('Error al actualizar el estado:', textStatus, errorThrown);
            }
        });
    });
});

   
  </script>

  
</body>

</html>